
@import "tailwindcss";


@import "tailwindcss";

:root {
  --color-primary: #FF9F1C;
}

@theme {
  --color-primary: var(--color-primary);
}






body {
  @apply bg-[#0B0B0B] text-white;
}

.icon {
  @apply w-10 h-10 bg-gray-200 text-gray-600
  flex items-center justify-center
  rounded-full
  hover:bg-[#FF9F1C] hover:text-white;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.animate-float {
  animation: float 2.5s ease-in-out infinite;
}


